*{
  margin:0;
  padding:0;
}
body{
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  background-color: #dfdfff;
}
header{
  background-color:#00f;
  color: #fff;
  padding: 2em 2em 1em 1em;
  text-align: right;
}
main{
  padding: .5em;
}
h2{
  text-align: center;
}
h3{
  margin: 1em 0 .25em 0;
}
nav{
  background-color:rgb(1, 1, 145);
  color: #fff;
}
nav a{
  text-decoration: none;
  color: inherit;
  display: block;
  padding: .2em .3em .2em .3em;
  border-left: .1em solid #fff; 
}
nav a:hover{ 
  color:#00f;
  background-color: #fff;
}
nav li{
  display: inline-block;
  font-size: 1.2em;
  margin:0;
  padding:0;
}
.navigationList{
  text-align: right;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}
.flex-container>p{
  width: 70%;
}
section{
  margin: 1em 0;
}
#xanga{
  height: 80px;
  width: auto;
  margin: auto;
}
#myspace{
  width: auto;
  height: 100px;
  margin: auto;
}
#html5{
  margin: auto;
}
footer{
  font-size: 1.2em;
  text-align: center;
  color: #fff;
  background-color: #00f;
  padding: 1.5em;
}